*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #282828;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 55%;
    height: 100px;
    /* background-color: pink; */
    display: flex;
    align-items: center;
}
.ThrWXi{
    height: 80px;
    width: 8%;
    position: relative;
    left: 5vw;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#vector1{
    /* Vector */
position: absolute;
width: 22.82px;
height: 54.66px;
left: 0px;
top: 13px;
background: #FE6839;
}
#vector2{
    /* Vector */
position: absolute;
width: 12.61px;
height: 12.6px;
left: 28.26px;
top: 34px;
background: #FE6839;
border-radius: 50%;
}
#vector3{
/* Vector */
position: absolute;
width: 22.26px;
height: 22.21px;
left: 32.46px;
top: 13px;
background: #FE6839;
border-radius: 0px 0px 0px 80%;

}
#vector4{
    /* Vector */
position: absolute;
width: 22.27px;
height: 22.33px;
left: 32.43px;
top: 45px;
background: #FE6839;
border-radius: 80% 0px 0px 0px;
}
#txt{
    position: relative;
    left: 5vw;
    font-size: 4rem;
    letter-spacing: 4px;
    font-family: serif;
    color: #fff;
}
.frame_40{
    width: 45%;
    height: 100px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.group83{
    display: flex;
    align-items: center;
}
#rectangle{
position: relative;
width: 12px;
height: 12px;
left: 0.01vw;
background: #FE6839;
transform: rotate(45deg);
margin: 2px;
}
.frame_40 a{
    text-decoration: none;
    color: #F9F9F9;
    font-size: 20px;
    font-weight: 400;
}
button{
    display: inline-block;
    padding: 8px 20px;
    border: 1px solid #ff6600;
    color: #F9F9F9;
    background-color: transparent;
    border-radius: 20px;
    text-decoration: none;
    align-items: center;
    cursor: pointer;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.txtContainer{
    width: 61%;
    height: 85vh;
    color: #fff;
    /* background-color: pink; */
}
#ThrWXiImg{
    position: relative;
    left: 10vw;
    top: 20vh;
    height: 32vh;
    width:  13vw;
    background-image: url(ThrXWi.png);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    position: relative;
    left: 18vw;
    top: -1vh;
    font-size: 3em;
    width: 50%;
    line-height: 9vh;
}
span{
    color: #ff6600;
}
p{
    color: #F9F9F9;
    position: relative;
    left: 18vw;
    width: 30%;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1em;
    line-height: 3.4vh;
    margin-top: 1.5vh;
}
#btn{
    position: relative;
    left: 18vw;
    margin-top: 1.5vh;
}
.imageContainer{
    width: 39%;
    height: 95vh;
    background-image: url(manImg.png);
    background-size: cover;
}
#dotimage{
    position: relative;
    top: 42.5vh;
    left: -7.7vw;
    height: 45vh;
    width: 15vw;
    background-image: url(dot\ img.png);
    background-size: cover;
    border-radius: 10px;
}
footer{
    display: flex;
}
.vector20{
    position: relative;
    top: -10vh;
    /* left: 5vw; */
    width: 30vw;
    height: 10vh;
    background-image: url(Vector\ 20\ \(1\).png);
    background-size: cover;
}
.vector21{
    position: relative;
    z-index: -2;
    left: 5vw;
    top: -10vh;
    width: 70vh;
    height: 7.5vh;
    background-image: url(Vector\ 21\ \(1\).png);
    background-size: cover;
    transform: rotate(-44deg);
    
}
@media screen and(max-width :576px){
        #sec{
             display: flex;
             flex-direction: column-reverse;
        }
    
}
